<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UsersManager2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginClServlet</display-name>
    <servlet-name>LoginClServlet</servlet-name>
    <servlet-class>com.emily.controller.LoginClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet</servlet-name>
    <url-pattern>/LoginClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.emily.view.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainFrame</display-name>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.emily.view.MainFrame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginClServlet1</display-name>
    <servlet-name>LoginClServlet1</servlet-name>
    <servlet-class>com.emily.controller.LoginClServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginClServlet1</servlet-name>
    <url-pattern>/LoginClServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsers</display-name>
    <servlet-name>ManageUsers</servlet-name>
    <servlet-class>com.emily.view.ManageUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers</servlet-name>
    <url-pattern>/ManageUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connDemo</display-name>
    <servlet-name>connDemo</servlet-name>
    <servlet-class>com.test.connDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connDemo</servlet-name>
    <url-pattern>/connDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersService</display-name>
    <servlet-name>UsersService</servlet-name>
    <servlet-class>com.emily.service.UsersService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersService</servlet-name>
    <url-pattern>/UsersService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserClServlet</display-name>
    <servlet-name>UserClServlet</servlet-name>
    <servlet-class>com.emily.controller.UserClServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserClServlet</servlet-name>
    <url-pattern>/UserClServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ok</display-name>
    <servlet-name>ok</servlet-name>
    <servlet-class>com.emily.view.ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ok</servlet-name>
    <url-pattern>/ok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Err</display-name>
    <servlet-name>Err</servlet-name>
    <servlet-class>com.emily.view.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUsers1</display-name>
    <servlet-name>ManageUsers1</servlet-name>
    <servlet-class>com.emily.view.ManageUsers1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUsers1</servlet-name>
    <url-pattern>/ManageUsers1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserView</display-name>
    <servlet-name>UpdateUserView</servlet-name>
    <servlet-class>com.emily.view.UpdateUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserView</servlet-name>
    <url-pattern>/UpdateUserView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserView</display-name>
    <servlet-name>AddUserView</servlet-name>
    <servlet-class>com.emily.view.AddUserView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserView</servlet-name>
    <url-pattern>/AddUserView</url-pattern>
  </servlet-mapping>
</web-app>